{% extends 'base.html.twig' %}

{% block title %}Page de Contact{% endblock %}

{% block content %}


    <h2>v.parise@vp-creation.fr</h2>
    {#
    {% for message in app.flashes('success') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <div class="form-group">
        {{ form_start(form) }}
        <div class="row mb-2">
            <div>{{ form_label(form.firstname) }}</div>
            <div class="col vp-input">{{ form_widget(form.firstname) }}</div>
        </div>
        <div class="row mb-2">
            <div>{{ form_label(form.lastname) }}</div>
            <div class="col vp-input">{{ form_widget(form.lastname) }}</div>
        </div>
        <div class="row mb-2">
            <div>{{ form_label(form.email) }}</div>
            <div class="col vp-input">{{ form_widget(form.email) }}</div>
        </div>
        <div class="row mb-2">
            <div>{{ form_label(form.message) }}</div>
            <div class="col vp-message">{{ form_widget(form.message) }}</div>
        </div>
        <div class="form-group">
            <button class="btn btn-light">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>
    #}
{% endblock %}
