<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Développement Web sur mesure, Symfony, Javascript, CSS, WordPress, Prestashop">
    <meta name="author" content="Vincent Parise">
    <meta name="generator" content="Parise 0.0.1">
    <title>{% block title %}Developpement Web{% endblock %}</title>

    <!--CSS -->
    <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ asset('/assets/css/vpcreation.css') }}" rel="stylesheet" >

    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/img/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/assets/img/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/img/favicon-144.png">
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body class="d-flex h-100 text-center text-white vp-bg">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <nav class="navbar navbar-expand-md navbar-dark vp-bg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ asset('/assets/img/Logo-VP-Creation-100px.jpg') }}" class="img-fluid" style="height: 75px;" alt="Logo Vp Creation">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'home' %}active{% endif %}" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'contact' %}active{% endif %}" href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="px-3">
        {% block content %}

        {%  endblock %}
    </main>

    <footer class="mt-auto text-white-50">
        <p><a class="vp-mention" href="{{ path('mention') }}">@Mentions Légales</a></p>
    </footer>
</div>

</body>
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</html>
